
.instr-main{
	padding-top: 30px;
	flex: 1;
    display: flex;
    z-index: 8;
    position: relative;
}

.instr-main__sidebar{
	position: fixed;
    height: 100vh;
    background: #fff;

    width: 280px;
    z-index: 11;
    overflow: hidden;
    min-width: 280px;
    flex: 0 0 280px;
    margin-top: -60px;
    padding-top: 60px;
    transition: all .2s;
}
 
.instr-main__sidebar .sidebar__shadow{
	box-shadow: 7px 0 60px rgba(0,0,0,.05);
}

.instr-main-sidebar__inner{
	padding: 2px 1.5rem 1.5rem;
}

.sidebar-inner__vertical{
	margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

.vertical__heading{
	text-transform: uppercase;
    font-size: .8rem;
    margin: 0.75rem 0;
    font-weight: 700;
    color: #3f6ad8;
    white-space: nowrap;
    position: relative;
}

.sidebar-inner__vertical ul>li>a{
	color: #6c757d;
    height: 2rem;
    line-height: 2rem;
    padding: 0 1.5rem;
}

.sidebar-inner__vertical li a {
    display: block;
    line-height: 2.4rem;
    height: 2.4rem;
    padding: 0 1.5rem 0 45px;
    position: relative;
    border-radius: 0.25rem;
    color: #343a40;
    white-space: nowrap;
    transition: all .2s;
    margin: 0.1rem 0;
}

.vertical_sub__active{
	color: #3f6ad8;
    background: #e0f3ff;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
  
  .instr-main__sidebar{
  	display: none;
  }
}